<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>viral vortex</title>

    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <div id="loader">
        <div id="yellow1"></div>
        <div id="yellow2"></div>
        <video autoplay loop muted src="/images/7947014-hd_1920_1080_30fps.mp4"></video>
        <h1 style="margin-top: 20px; margin-bottom: 20px;">
            Your all-in-one <b>creative partner</b>.
        </h1>

    </div>
    <div id="nav">
        <a href="/" title="Home"></a>
        <h1><I>VX</I></h1>
        <h2><I>Viral vorteX</I></h2>
        <nav>
            <a href="#page2" title="page2">Services We Provide</a>
            <a href="#page3" title="page3">projects</a>

            <button title="expand" class="expand">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <script xmlns="" />
                    <g fill="none" fill-rule="evenodd" stroke="#000">
                        <line x2="26" y1="13.278" y2="13.278" stroke-width="1.25" />
                        <line x1="12.722" x2="12.722" y2="26" stroke-width="1.25" />
                    </g>
                </svg>
            </button>
        </nav>
    </div>
    <div id="main">
        <div id="page1" data-scroll>
            <h1 data-scroll data-scroll-speed="-3">

                Your all-in-one <b>creative partner</b>.
            </h1>
            <div id="page1_footer" data-scroll data-scroll-target="#page1" data-scroll-position="top"
                data-scroll-speed="-2">
                <a href="/contact" title="contact" data-scroll>Contact</a>
                <a href="#" title="next" data-scroll>
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="17" viewBox="0 0 49 17">
                        <script xmlns="" />
                        <polyline fill="none" stroke="#231F20" stroke-width="2"
                            points="937 991 960.336 1005.098 983.673 991" transform="translate(-936 -990)" />
                    </svg></a>

                <a href="https://www.instagram.com/viral__vortex?igsh=MWlidGxuemhqbHYyOQ==" title="instagram"
                    data-scroll>instagram</a>
            </div>
        </div>
        <div id="page2" data-scroll>
            
            <div id="pagebro" class="cover"></div>
            <div data-scroll data-scroll-speed="2.5" class="elem"
                data-img="https://images.pexels.com/photos/6483580/pexels-photo-6483580.jpeg">
                <a href="/digital" style="text-decoration: none; color: inherit;">
                    <h2>Digital Marketing</h2>
                </a>
                <div class="moving">
                    <div class="blur-left"></div>
                    <div class="blur-center"></div>
                    <div class="blur-right"></div>
                    <div class="moving-in">
                        <h5>google ads</h5>
                        <h5>facebook ads</h5>
                        <h5>ads creation</h5>
                        <h5>Branding & Identity</h5>

                    </div>
                    <div class="moving-in">
                        <h5>google ads</h5>
                        <h5>facebook ads</h5>
                        <h5>ads creation</h5>
                        <h5>Branding & Identity</h5>
                    </div>
                    <div class="moving-in">
                        <h5>google ads</h5>
                        <h5>facebook ads</h5>
                        <h5>ads creation</h5>
                        <h5>Branding & Identity</h5>
                    </div>
                </div>
            </div>
            <div data-scroll data-scroll-speed="2.5" class="elem"
                data-img="https://images.unsplash.com/photo-1493804714600-6edb1cd93080?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <a href="/video" style="text-decoration: none; color: inherit;">
                    <h2>video survices</h2>
                </a>
                <div class="moving">
                    <div class="blur-left"></div>
                    <div class="blur-center"></div>
                    <div class="blur-right"></div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>video editing</h5>
                        <h5>social media video</h5>
                    </div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>video editing</h5>
                        <h5>social media video</h5>
                    </div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>video editing</h5>
                        <h5>social media video</h5>
                    </div>
                </div>
            </div>
            <div data-scroll data-scroll-speed="2.5" class="elem"
                data-img="https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <a href="/photo" style="text-decoration: none; color: inherit;">
                    <h2>photo survices</h2>
                </a>
                <div class="moving">
                    <div class="blur-left"></div>
                    <div class="blur-center"></div>
                    <div class="blur-right"></div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>photo editing</h5>
                        <h5>social media posts</h5>
                    </div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>photo editing</h5>
                        <h5>social media posts</h5>
                    </div>
                    <div class="moving-in">
                        <h5>wedding shoots</h5>
                        <h5>model shoots</h5>
                        <h5>pre wedding</h5>
                        <h5>photo editing</h5>
                        <h5>social media posts</h5>
                    </div>
                </div>
            </div>
            <div data-scroll data-scroll-speed="2.5" class="elem"
                data-img="https://img.freepik.com/free-photo/retro-computer-desk-arrangement_23-2150118627.jpg?ga=GA1.1.1523402469.1729167760&semt=ais_hybrid">
                <h2></h2>
                <a href="./webdev" style="text-decoration: none; color: inherit;"></a>
                <a href="/webdev" style="text-decoration: none; color: inherit;">
                    <h2>web survices</h2>
                </a>
                </a>
                <div class="moving">
                    <div class="blur-left"></div>
                    <div class="blur-center"></div>
                    <div class="blur-right"></div>
                    <div class="moving-in">
                        <h5>personal portfolio websits</h5>
                        <h5>company portfolio websits</h5>
                        <h5>Art Direction</h5>
                        <h5>Branding & Identity</h5>
                        <h5>Type Design</h5>
                    </div>
                    <div class="moving-in">
                        <h5>personal portfolio websits</h5>
                        <h5>company portfolio websits</h5>
                        <h5>Art Direction</h5>
                        <h5>Branding & Identity</h5>
                        <h5>Type Design</h5>
                    </div>
                    <div class="moving-in">
                        <h5>personal portfolio websits</h5>
                        <h5>company portfolio websits</h5>
                        <h5>Art Direction</h5>
                        <h5>Branding & Identity</h5>
                        <h5>Type Design</h5>
                    </div>
                </div>
            </div>

            <button title="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="17" viewBox="0 0 49 17">
                    <script xmlns="" />
                    <polyline fill="none" stroke="#FFF" stroke-width="2" points="937 991 960.336 1005.098 983.673 991"
                        transform="translate(-936 -990)" />
                </svg>
            </button>
        </div>
        <div id="page3" data-scroll>
            <div class="image-container">
                
                <div class="line">
                    <div class="image-div">
                        <div class="overlay">
                            <p>The anime assemble</em></p>
                        </div>
                        <img src="/images/anime assemble.png"
                            alt="image" />
                    </div>

                </div>

                <div class="line">
                    <div class="image-div">
                        <div class="overlay">
                            <p>bold road</em></p>
                        </div>
                        <img src="/images/1.png"
                            alt="image" />
                    </div>

                </div>
                


              


           <!-- blabla -->
                
               
            </div>
        </div>
        <div id="footer">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="12" viewBox="0 0 30 12">
                <script xmlns="" />
                <polyline fill="none" stroke="#000" points="172 752 187 762 202 752"
                    transform="rotate(-180 101 381.5)" />
            </svg>
            <h2> BACK TO TOP</h2>
            <div id="foot">
                <a href="mailto:viralvortex.studio@gmail.com">viralvortex.studio@gmail.com</a>
                <div id="footer_data">

                    <a href="">© 2022-2024 Viral vorteX</a>
                    <a href="/contact">connect</a>

                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="javascripts/script.js"></script>
</body>

</html>